[Unit]
Description=Battery Monitor

[Service]
Type=simple
ExecStart=/usr/bin/env bash %h/.wm-scripts/change-wallpaper.sh
Environment=DISPLAY=:0
Environment=XAUTHORITY=%h/.Xauthority

[Install]
WantedBy=multi-user.target
