[Unit]
Description=Runs change wallpaper job every 15 mins

[Timer]
OnBootSec=0min
OnCalendar=*:0/45
Unit=wallpaper@.service

[Install]
WantedBy=basic.target  

